In [1]:
x = 10
type(x)

int

In [3]:
x = 10.25j
type(x)

complex

In [5]:
num = 10 > 9
type(num)

bool

In [6]:
num

True

In [7]:
name = 'edureka'
len(name)

7

In [9]:
name[2:8]

'ureka'

In [11]:
name.upper()

'EDUREKA'

In [12]:
name.lower()

'edureka'

In [13]:
myList = [10,20,30,40, 'edureka', 'courses']

myList

[10, 20, 30, 40, 'edureka', 'courses']

In [14]:
myList[2:5]

[30, 40, 'edureka']

In [16]:
myList[2] = 35
myList

[10, 20, 35, 40, 'edureka', 'courses']

In [17]:
myList.append(10)
myList

[10, 20, 35, 40, 'edureka', 'courses', 10]

In [18]:
myList.insert(5, 100)
myList

[10, 20, 35, 40, 'edureka', 100, 'courses', 10]

In [19]:
myList.reverse()
myList

[10, 'courses', 100, 'edureka', 40, 35, 20, 10]

In [20]:
courses = {
    1: 'python',
    2: 'data science',
    'third': 'Machine learning'
}

In [21]:
courses

{1: 'python', 2: 'data science', 'third': 'Machine learning'}

In [22]:
courses['third']

'Machine learning'

In [23]:
courses.get('third')

'Machine learning'

In [25]:
courses['third'] = 'tizzle'

In [26]:
courses

{1: 'python', 2: 'data science', 'third': 'tizzle'}

In [27]:
courses['four'] = 'machine learning'

In [28]:
courses

{1: 'python', 2: 'data science', 'third': 'tizzle', 'four': 'machine learning'}

In [30]:
animals = (10,10,20, 'tiger', 'lion', 'giraffe', 'tiger')

In [31]:
animals[2]

20

In [33]:
animals.count('tiger')

2

In [34]:
myset = {10, 20,30,40, 'courses', 'edureka'}

In [35]:
myset

{10, 20, 30, 40, 'courses', 'edureka'}

In [36]:
range(10)

range(0, 10)

In [37]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
x = 10

In [39]:
name = 'name'

In [40]:
str(x) + name

'10name'

In [1]:
a = [1,2,3,4]

In [2]:
b = {4,5,6,4,6}
c = [a , b]
c

[[1, 2, 3, 4], {4, 5, 6}]

In [3]:
import array

In [5]:
a = array.array('i',[1,2,3,4,5,6])
a

array('i', [1, 2, 3, 4, 5, 6])

In [ ]:
mytup = (10,20,30,20,30,40,40)

In [ ]:
mytup